---
BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
BreakBeforeBraces: Attach
IndentCaseLabels: false
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: NextLine
AllowAllArgumentsOnNextLine: true
# InsertTrailingCommas: true
NamespaceIndentation: None
